<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="ColoredConsole" name="colored_console"
                layout="|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}">
        </target>
        

    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="colored_console" />
    </rules>
</nlog>