<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="ColoredConsole" name="colored_console"
                layout="|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}">
        </target>

        <target xsi:type="Database"
                name="db"
                dbProvider="System.Data.SqlClient"
                connectionString="${configsetting:item=ConnectionStrings.XNewsLoggingDb}"
                commandText="
                    INSERT INTO dbo.Logs(MachineName, LoggedAt, Level, Message, Logger, Callsite, Exception) 
                    VALUES 
                    (@MachineName, @LoggedAt, @Level, @Message, @Logger, @Callsite, @Exception)
                ">

            <parameter name="@MachineName" layout="${machinename}" />
            <parameter name="@LoggedAt" layout="${date}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@Callsite" layout="${callsite}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="colored_console,db" />
    </rules>
</nlog>
